<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3>Welcome to <strong>Bookers</strong>!!</h3>
    </div>
 </div>

<div class="row">
  <div class="mx-auto">
    <p>In Bookers,<br />
    you can share and exchange your opinions , inpressions , and emotions<br />
    about various books!</p>
  </div>
</div>


  <div class="btn-wrapper .col-md-6 mx-auto ">
    <a class="btn btn-info btn-block btn-sm" href="/users/sign_in">Log in</a>
    <a class="btn btn-success btn-block btn-sm" href="/users/sign_up">Sign up</a>
  </div>
</div>